.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(210, 228, 247, 0.46) 0%,
    rgba(225, 253, 247, 0.43) 90%
  );
  border: 1px #354353 solid;
  border-radius: 50px;
}

.contacts__item h2 {
  margin: 0;
  color: #354353;
  font-size: large;
}

@media (max-width: 1050px) {
  .container {
    justify-content: center;
    gap: 0px;
  }

  .contacts__item {
    margin-top: 12px;
    padding: 10px 20px;
  }

  .container h2 {
    font-size: medium;
  }
}
