.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    color: #354353;
}

.contacts__item h2{
  margin: 0;
}

@media (max-width: 1050px){
  .container{
    justify-content: center;
  }

  .container h2{
    font-size: smaller;
  }
}
