.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 70px 0 20px 0;
    position: relative;
    left: 0;
    bottom: 0;
}

.footer h2 {
    text-align: center;
}

.footer p {
    font-size: xx-small;
margin-bottom: 0;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation a {
    color: #3b3b3b;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: auto;
    width: auto;
    font-size: larger;
    cursor: pointer;
    margin-top: 2%;
}



.navigation a:hover {
    color: #111111;
}



.navigation a:active {
    color: #0f0e0e;
}