.documents__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 2500px;
    gap: 20px;
    justify-content: center;
}

.documents__list a{
    cursor: pointer;
    color: #7c7c7c;
}

@media (max-width: 768px){
    .documents__list p {
        font-size: small;
        text-align: center;
        color: #7c7c7c;
    }
}