.documents__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 2500px;
    gap: 20px;
    justify-content: center;
}

.documents__list a{
    
}