/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */


@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("e-UkraineHead-Regular"),
    url("./fonts/e_ukraine/e-UkraineHead-Regular.otf") format("opentype");
}

body{
    font-family: 'Light';
    background-color: rgba(214, 247, 255, 0.1);
    margin: 0 ;
}

button, input, textarea, select {
  font-family: inherit;
}

#root{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}
