.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 12px 0 12px;
    margin-top: 24px;
}

.description {
    width: 60%;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    color: #354353;
}

.email h2{
  margin: 0;
}

@media (max-width: 768px){
.page{
    padding: 0 4px 0 4px;
}

.page h1{
    text-align: center;
}

.page p {
    font-size: medium;
}

.email h2{
    margin: 0;
    font-size: small;
  }

.description {
    width: 95%;
}
}